/* 
Theme: Vyomos Admin Dahsboard template
Author: Animesh;
URL: www.amazingworkz.com;
*/

.spacei{
	padding-right: 10px;
}


.modal {
	z-index: 100000;
}


.td-right{
  text-align: right;
}

.td-cen{
  text-align: center;
}

.td-left{
  text-align: left;
}


.table-fixed {
  width: 100%;
}
.table-fixed tbody {
  height: 200px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  background-color: #153CBC;
  color: #fff;
}

/*
* ==========================================================
*    CATEGORIES PAGE
* ==========================================================
*/

        .pagination > li > a, .pagination > li > span {
      border-radius: 50% !important;
      margin: 0 5px;
    }

    .pagination {
      margin: 0;
    }

    .panel-footer, .panel-table .panel-body .table-bordered {
        border-style: none;
       margin: 0;
      }


  .right-2 {
    margin-left: 1em;
  }


 .btn-add {
  color: #fff;
  background-color: #796AEE;
  border-color: #796AEE;
  padding: 0.5em;
  margin-left: 1em;
}

.btn-add:hover {
  color: #fff;
  background-color: #503ce9;
  border-color: #4833e8;
}


.btn-file {
    position: relative;
    overflow: hidden;
    margin-left: 1em;
    padding: 0.5em 1em;
    margin-right: 1em;
    color: #fff;
    background-color: #796AEE;
    border-color: #796AEE;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


 .btn-cat-sel {
  color: #fff;
  background-color: #796AEE;
  border-color: #796AEE;
  padding: 0.5em;
  margin-left: 1em;
}

.btn-cat-sel:hover {
  color: #fff;
  background-color: #503ce9;
  border-color: #4833e8;
}

.myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }


/*
* ==========================================================
*    ADD & EDIT ITEM PAGE
* ==========================================================
*/

.attimg{
  width: 25px;
  margin-right: 2px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
    margin-top: 10px;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.setup-content{
  padding-left: 5%;
  padding-bottom: 5%;
}

/*
* ==========================================================
*     ORDER DETAILS PAGE
* ==========================================================
*/


.top-icon{
 color:red;
 text-align: center;
 font-size: 2em;
}

.top-rep{
  text-align: center;
  padding: 0px;
}

.heading{
  font-size: 1em;
  color: green;
  font-weight: 800;
  padding: 0px!important;
  margin-bottom: 0px!important;
}
.cont{
  font-size: 0.8em;
  color: grey;
  font-weight: 800;
  margin-bottom: 0px!important;
}
.number{
  font-size: 2.5em;
  color: green;
  font-weight: 800;
  margin-bottom: 0px!important;
}
.singorder .row {
  margin: 0;
  padding: 15px 0;
  margin-bottom: 15px;
}

.singorder div[class*='col-'] {
  border-right: 1px solid #eee;
}

.singorder .text h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #555;
  font-size: 2em!important;
}

.singorder .text h4 {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #555;
  font-size: 1.5em!important;
}


.singorder .text small {
  color: #aaa;
  font-size: 1em;
}

.singorder .project-date span {
  font-size: 0.9em;
  color: #999;

}

.singorder .cost p{
	margin-bottom: 0em;
	padding-bottom: 0em;
}

.singorder .image {
   margin-right: 15px;
   width: 100%;
   height: auto; 
}

.singorder .time, .project .comments, .project .project-progress {
  color: #999;
  font-size: 0.9em;
  margin-right: 20px;
}

.singorder .time i, .project .comments i, .project .project-progress i {
  margin-right: 5px;
}

.singorder .project-progress {
  width: 200px;
}

.singorder .card {
  margin-bottom: 0;
}


.ontime{
  color:#2ecc71!important;
}

.delayed{
  color:red;
}

.awaiting{
  color:grey;
}



.edit-drp .dropdown-toggle {
  color: #666666;
  background: none;
  border: none;
}

.edit-drp .dropdown-toggle:after {
  display: none;
}

.edit-drp .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 0.9em;
  border-radius: 0;
  transform: translateX(calc(-100% + 5px));
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.edit-drp .dropdown-menu a {
  color: #999 !important;
}

.edit-drp .dropdown-menu a:hover {
  background: #796AEE;
  color: #fff !important;
}

.edit-drp .dropdown-menu a i {
  margin-right: 10px;
  transition: none;
}


/* PROJECTS SECTION ------------------------------------- */
@media (max-width: 991px) {
  .project .right-col {
    margin-top: 20px;
    margin-left: 65px;
  }
  .project .project-progress {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .project .project-progress {
    display: none;
  }
}


.table-disable,
.table-disable > th,
.table-disable > td {
  background-color: rgba(192,192,192,1);
}



/* User Pages------------------------------------- */

.selectadd{
  background-color: #ccc;
}


nav.nav-tabs .search-box {
  width: auto;
  height: 100%;
  background: #fff;
  z-index: 9999;
  border-radius: 0;
  display: none;
}

nav.nav-tabs .search-box .dismiss {
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #999;
}

nav.nav-tabs .search-box form {
  height: 100%;
}

nav.nav-tabs .search-box form input {
  height: 100%;
  border: none;
  padding: 20px;
}


